@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

@font-face {
    font-family: 'nexa';
    src: url('Fonts/Nexa Bold.otf') format('opentype'), url('fonts/Nexa Light.otf') format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: 'Rubik Glitch';
    font-weight: normal;
    font-size: 100px;
    padding-top: 50px;
    font-size: 10vp;
}

header > p {
    font-family: 'nexa';
    font-weight: light;
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    font-family: 'Give You Glory';
    font-weight: bold;
    background-color: white;
    color: black;
}

section.imagem {
    font-family: 'Give You Glory';
    font-weight: bold;
    background-color: #26002e;
    color: white;
    background-size: cover;
    box-shadow: inset 5px 5px 10px 0px black;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: #00000077;
    text-shadow: 1px 1px 0px black;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section#img01 {
    background-image: url('../imagens/one\ piece\ luffy.jpg');
    background-position: center right;
    padding-top: 25vh;
    padding-bottom: 20vh;
}

section#img02 {
    background-image: url('../imagens/one\ piece\ inicio.jpg');
    background-position: center right;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}